#include <windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD
PRODUCTVERSION  VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"   // Language: en-US, Codepage: UTF-16
        BEGIN
            VALUE "CompanyName",      "RMK"
            VALUE "FileDescription",  "HardcoreMapAndNavigation - Cyberpunk 2077 RED4ext plugin"
            VALUE "FileVersion",      VER_FILE_STR
            VALUE "InternalName",     "HardcoreMapAndNavigation"
            VALUE "LegalCopyright",   ""
            VALUE "OriginalFilename", "HardcoreMapAndNavigation.dll"
            VALUE "ProductName",      "HardcoreMapAndNavigation"
            VALUE "ProductVersion",   VER_PRODUCT_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
